<div class="container">
  <div class="content-list-customers">
    <div class="header-content">メインビュー</div>
    <div class="list-customers">
        <p> 顧客一覧</p>
        <button class="button-customers">顧客一覧へ</button>
    </div>
    
    <div class="table-list-customers">
      <table>
        <tr>
          <th>お客</th>
          <th>お客</th>
          <th>お客</th>
          <th>お客</th>
          <th>お客</th>
          <th>お客</th>
          <th>お客</th>
        </tr>
        <tr>
          <td>A</td>
          <td>User</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>A</td>
          <td>User</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
