<footer class="container">
  <div class="content-footer">
    <div class="content-info">
      <div class="list-info-1">
        <div class="item">会社ロゴ</div>
      </div>
      <div class="list-info-2">
        <div class="item">お知らせ</div>
        <div class="item">利用規約</div>
      </div>
      <div class="list-info-3">
        <div class="item">よくある質問</div>
        <div class="item">プライバシーポリシー</div>
      </div>
      <div class="list-info-4">
        <div class="item">会社概要</div>
        <div class="item">サイトマップ</div>
      </div>
      <div class="list-info-5">
        <div class="item">特定商取引法に基づく表記</div>
      </div>
    </div>

    <div class="social-network">
      <div class="twitter item-social">
        <a href="/"> <i class="fab fa-twitter-square"></i></a>
      </div>
      <div class="facebook item-social">
        <a href="/"><i class="fab fa-facebook-square"></i></a>
      </div>
      <div class="youtube item-social">
        <a href="/"><i class="fab fa-youtube-square"></i></a>
      </div>
    </div>
    <!-- <span class="text-white me-2"> &copy;.</span> -->
    <div class="info-company">
      Copyright &copy;. Funai Consulting Incorporated All rights reserved.
    </div>
  </div>
</footer>
